* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", serif;
  }
  
  body {
    height: 100vh;
    background-color: #FFCFB3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #35374B;
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    width: 100%;
    max-width: 550px;
    padding: 4em .5em 1.5em;
    border-radius: 1.5em;
  }
  
  .screen-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .total {
    font-size: 3em;
    padding: .5em 0;
    min-height: 2em;
  }
  
  .input-value {
    min-height: 21px;
  }
  
  .digits-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .digit {
    border-radius: .75em;
    padding: 1em;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .35em;
    box-shadow: 0px 1px 1px 0px #2a2727;
    cursor: pointer;
  }
  
  .digit svg {
    width: 25px;
  }
  
  span {
    outline: 1px solid gray;
    color: rgb(255, 255, 255);
  }
  
  #equal-sign {
    background-color: #FFCFB3;
    color: black;
    grid-column-start: 3;
    grid-column-end: 5;
    max-height: 70px;
    padding: .1em;
    width: auto;
  }

  #equal-sign:hover {
    background-color: hsl(22, 100%, 75%);
  }

  .digit:hover{
    background-color: hsl(235, 17%, 20%);
    transition: .3s;
  }